{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{%  block title  %} {%  endblock  %}</title>
</head>
<body>
    <header>
        <div class="container-fluid fixed">
            <div class="row">
                <div class="col-md-2 besar tokoonline">
                    <a class="text" href="{% url 'home' %}">Toko Online</a>
                </div>
                <div class="col-md-10 besar home">
                    <a class="text" href="{% url 'home' %}">Home</a>
                </div>
            </div>
        </div>
    </header>
    <br><br>

    {%  block content  %}

    {%  endblock  %}

</body>
</html>