{%  extends 'base/base.html'  %}
{%  load static  %}



{%  block title  %} Barang Detail {%  endblock  %}

{% block content  %}

<div class="container barang_detail_content">
    <div class="row justify-content-center barang_detail_content">
        <div class="col-md-8 text-center margin-top10 blog_detail_pic">
            <img src="{{ barang.foto  }}" width="100%" alt="">
        </div>
        <div class="col-8 margin-top10">
            <h2>{{ barang.nama  }}</h2>
        </div>
        <br>
        <br>
        <br>

        <div class="col-8 blog_detail_desc">
            {{ barang.harga }}
        </div>
        <br>
        <div class="col-8 blog_detail_desc">
            <h5>Deskripsi produk:</h5>
            {{ barang.deskripsi }}
        </div>
    </div>
</div>

<br>
<br>
<br>

{%  endblock %}